Repository iterative/cml, pull requests merged in 2022-05, with the labels that each got.

#994 Fix NVIDIA APT GPG keys
  Dockerfile
Labels: bug, testing, deployment

#995 Fix NVIDIA APT GPG keys
  Dockerfile
Labels: bug, p0-critical, testing, deployment

#992 Default to `HEAD` on `send-comment --commit-sha`
  bin/cml/send-comment.js
  bin/cml/send-comment.test.js
Labels: bug, p0-critical, cml-send-comment

#1004 Remove `cml publish` pipe from examples
  .github/workflows/checkbot.yml
  README.md
Labels: p0-critical, cml-publish

#968 Try fallback auto-merge when unknown protection
  src/drivers/github.js
Labels: bug, cml-pr, ci-github

#1011 Remove docker machine
  bin/cml/runner.js
Labels: cml-runner, p2-nice-to-have

#798 Bitbucket runner support
  bin/cml/runner.js
  bin/cml/runner.test.js
  src/cml.js
  src/drivers/bitbucket_cloud.js
  src/drivers/bitbucket_cloud.test.js
  src/drivers/github.js
  src/drivers/gitlab.js
  src/utils.js
Labels: enhancement, p1-important, cml-runner, ci-bitbucket

#1031 Tensorboard tests fix protofuf downgrade
  .github/workflows/test-deploy.yml
Labels: p0-critical, testing, cml-tensorboard

#1029 Removed tfFile
  bin/cml/runner.js
Labels: technical debt, cml-runner
