Repository iterative/cml, pull requests merged in 2022-06, with the labels that each got.

#1043 Preserve plain HTTP in Git remote URL
  src/cml.js
Labels: bug

#1052 Terraform apply progressive logging/debug stderr capture
  src/terraform.js
  src/utils.js
Labels: enhancement, cml-runner, ui/ux, tpi

#1060 0.16.1
  package-lock.json
  package.json
Labels: releases

#1062 `pr --skip-ci` bug
  src/cml.js
Labels: bug, p0-critical, cml-pr

#1030 Runner edge cases improvements
  bin/cml/runner.js
  bin/cml/runner.test.js
  src/cml.js
  src/cml.test.js
  src/drivers/bitbucket_cloud.js
  src/drivers/github.js
  src/drivers/gitlab.js
Labels: technical debt, p0-critical, cml-runner, ci-github

#1056 Skip ci in pr title when cml pr --skip-ci
  src/cml.js
  src/drivers/gitlab.js
Labels: cml-pr, ci-gitlab, external-request

#1026 Integrate `cml publish` with `cml send-comment`
  bin/cml/send-comment.js
  bin/cml/send-comment.test.js
  package-lock.json
  package.json
  src/cml.js
  src/utils.js
Labels: enhancement, cml-publish, cml-send-comment

#1075 Implement custom `cml publish` Domain
  bin/cml/publish.js
  src/utils.js
Labels: cml-publish

#1063 additional `cml pr` options
  bin/cml/pr.js
  bin/cml/pr.test.js
  src/cml.js
Labels: cml-pr

#1078 Pass the PR event for external testing
  .github/workflows/trigger-external.yml
Labels: testing

#1082 Create devcontainer.json
  .devcontainer.json
  .github/workflows/test-deploy.yml
Labels: enhancement
